<section id="grid">

<table id="grid">
<% @game.player1_home_grid.display.each_with_index do |row, index| %>
	<% row_name = ("A".."Z").to_a[index] %>
	<tr class="<%=row_name%>"> 
		<% row.each_with_index do |element, index| %>

			<% column_number = (index + 1).to_s %>

			<td class="element" bgcolor="<%= "#D6EBFF" if element.nil? %>"><div class="cell"><a href="/coordinate/<%=row_name + column_number%>"></a></div></td>

			<% end %>
			<br>
	</tr>

<% end %>

</table>


</grid>