<html>
<head>
	Battleships
</head>

<body>
	<h1> Sup bro! If you wanna play some battleships, give us your name! </h1>

<form action="/" method="post">
	<input type="textarea" name="name" placeholder="Ron Bobbly">
	<button> Submit </button>
</form>






</body>